{% load static %}
<header class="clearfix trans">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href=""><img src="{{settings.logo.url}}" alt=""></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navigate-section">
                    <li><a class="active" href="#home-section">Home</a></li>
                    <li><a href="#about-section">About</a></li>
                    <li><a href="#special-section">Today's Special</a></li>
                    <li><a href="#menu-section">Menu</a></li>
                    <li><a href="#reservation-section">Reservation</a></li>
                    <li><a href="#team-section">Team</a></li>
                    <li><a href="#gallery-section">Gallery</a></li>
                    <li><a href="#contact-section">Contact</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li class="search drop"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                        <form class="form-search">
                            <input type="search" placeholder="Search:"/>
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>