{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

	<!-- Container -->
	<div id="container">

		<!-- Header
		    ================================================== -->
		{% include 'include/header.html' %}
		<!-- End Header -->

		<!-- blog-section 
			================================================== -->
		<section class="blog-section single_post">
			<div class="container">
				<div class="blog-box">
					<div class="blog-post">
						<img src="{% static 'upload/blog/1.jpg' %}" alt="">
						<h1>Aliquam tincidunt mauris.</h1>
						<p>Proin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh. Fusce convallis sapien placerat tellus suscipit vehicula. Cras vitae diam ut justo elementum faucibus eget a diam. Etiam sodales a sem vitae fermentum. </p>
						<p>Curabitur pellentesque massa eu nulla et <a href="#">consequat porttitor</a> arcu porttitor. Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut nec hinc dolor possim. An eros argumentum vel, elit diceret duo eu, quo et aliquid ornatus delicatissimi.</p>
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'upload/blog/s1.jpg' %}" alt="">
							</div>
							<div class="col-md-6">
								<div class="article-cont">
									<p><span>Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh.</span></p>

									<p>Fusce convallis sapien placerat tellus suscipit vehicula. Cras vitae diam ut justo elementum faucibus eget a diam. Etiam sodales a sem vitae fermentum. </p>

									<p>Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. </p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="article-cont">

									<p>Cras vitae diam ut justo elementum faucibus eget a diam. <a href="#">Etiam sodales</a> a sem vitae fermentum. </p>

									<p>Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut nec hinc dolor possim. An eros argumentum vel, elit diceret duo eu, quo et aliquid ornatus delicatissimi.</p>
								</div>
							</div>
							<div class="col-md-6">
								<img src="{% static 'upload/blog/s2.jpg' %}" alt="">
							</div>
						</div>
						<ul class="share-post">
							<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>

					<div class="related-posts">
						<div class="center-area">
							<h1>Related Posts</h1>
						</div>						
						<div class="row">
							<div class="col-md-4">
								<div class="news-post">
									<img src="{% static 'upload/blog/r1.jpg' %}" alt="">
									<div class="hover-box">
										<div class="inner-hover">	
											<span class="date">December 16, 2016</span>
											<h2><a href="{% url 'single_post' %}">Cras iaculis ultricies </a></h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news-post">
									<img src="{% static 'upload/blog/r2.jpg' %}" alt="">
									<div class="hover-box">
										<div class="inner-hover">	
											<span class="date">December 16, 2016</span>
											<h2><a href="{% url 'single_post' %}">Donec quis </a></h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news-post">
									<img src="{% static 'upload/blog/r3.jpg' %}" alt="">
									<div class="hover-box">
										<div class="inner-hover">	
											<span class="date">December 16, 2016</span>
											<h2><a href="{% url 'single_post' %}">Vivamus molestie gravida</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="comment-area-box">
						<div class="center-area">
							<h1>2 Comments</h1>
						</div>
						<ul class="comment-tree">
							<li>
								<div class="comment-box">
									<img alt="" src="{% static 'upload/blog/avatar.jpg' %}">
									<div class="comment-content">
										<h3>Kate Howston <span>May 12, 2015</span></h3>
										<p>Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. </p>
										<a href="#">Reply</a>
									</div>
								</div>
								<ul class="depth">
									<li>
										<div class="comment-box">
											<img alt="" src="{% static 'upload/blog/avatar2.jpg' %}">
											<div class="comment-content">
												<h3>Jess Pinkman <span>May 12, 2015</span></h3>
												<p>Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. </p>
												<a href="#">Reply</a>
											</div>
										</div>
									</li>
								</ul>
							</li>

						</ul>
					</div>

					<div class="contact-form-box">
						<div class="center-area">
							<h1>Leave a Comment</h1>
							<span>Required fields are marked *</span>
						</div>
						<form id="comment-form">
							<div class="row">
								<div class="col-md-4">
									<input name="name" id="name" type="text" placeholder="Name*">
								</div>
								<div class="col-md-4">
									<input name="mail" id="mail" type="text" placeholder="Email*">
								</div>
								<div class="col-md-4">
									<input name="website" id="website" type="text" placeholder="Website">
								</div>
							</div>
							<textarea name="comment" id="comment" placeholder="Message*"></textarea>
							<div class="center-area">
								<input type="submit" id="submit-contact" value="Submit Comment">
							</div>
							
						</form>
					</div>
					<!-- End contact form box -->
				</div>
			</div>
		</section>
		<!-- End blog section -->

		<!-- footer 
			================================================== -->
		{% include 'include/footer.html' %}
		<!-- End footer -->

	</div>
	<!-- End Container -->
{% endblock %}